{block content}

{if $user->loggedIn}
    <script>
        window.location.replace("../");
    </script>
{else}
    <!--<h1 n:block=title>Sign Up</h1>-->

    {control signUpForm}

    <div class="col-sm-3 control-label" id="Up"></div>
    <a n:href="in" id="UpToIn">Už máte účet? Prihláste sa.</a>
{/if}